//
// Title links
//

.card-title-link-light {
  color: $card-title-link-light-color;
  text-decoration: $card-title-link-light-decoration;

  @include hover-focus {
    color: $card-title-link-light-hover-color;
    text-decoration: $card-title-link-light-hover-decoration;
  }
}

.card-title-link-dark {
  color: $card-title-link-dark-color;
  text-decoration: $card-title-link-dark-decoration;

  @include hover-focus {
    color: $card-title-link-dark-hover-color;
    text-decoration: $card-title-link-dark-hover-decoration;
  }
}


//
// Images
//

.card-img-left,
.card-img-right {
  width: 100%;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $min: breakpoint-min($breakpoint, $grid-breakpoints);
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @if $min {
    @media (max-width: $min - 1px) {
      .card .row:first-child .card-img-left-wrap#{$infix} {
        @include border-top-radius($card-inner-border-radius);

        .card-img-left {
          @include border-top-radius($card-inner-border-radius);
        }
      }

      .card .row:last-child .card-img-right-wrap#{$infix} {
        @include border-bottom-radius($card-inner-border-radius);

        .card-img-right {
          @include border-bottom-radius($card-inner-border-radius);
        }
      }
    }
  }

  @include media-breakpoint-up($breakpoint) {
    .card-img-left-wrap#{$infix} {
      padding-top: $card-spacer-x;
      padding-bottom: $card-spacer-x;
      padding-left: $card-spacer-x;
      @include border-left-radius($card-inner-border-radius);

      .card-img-left {
        @include border-radius($card-border-radius);
      }
    }

    .card-img-right-wrap#{$infix} {
      padding-top: $card-spacer-x;
      padding-right: $card-spacer-x;
      padding-bottom: $card-spacer-x;
      @include border-right-radius($card-inner-border-radius);

      .card-img-right {
        @include border-radius($card-border-radius);
      }
    }
  }
}

.card-img-cover {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
